@use '../presets' as *;

// Типографіка
h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: $line-height-sm;
}

h2 {
  font-size: 2rem;
  line-height: $line-height-sm;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $color-black;
}
