@use '../presets' as *;
@use '../mixins' as *;

.header {
  background-color: $color-grey-light;
  padding-top: 69px;
  padding-bottom: 141px;

  @include ul {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}